<%- model_class = User -%>
<div class="page-header">
  <h1>Usuarios</h1>
</div>
<table class="table table-hover table-bordered table-condensed ">

  <thead>
    <tr >
      <th>id</th>
      <th>Email</th>
      <th>password</th>
      <th>confirm_password</th>
      <th>Identificacion</th>
      <th>Nombre</th>
      <th>masculino</th>
      <th>femenino</th>
    </tr>
  </thead>
  <tbody>
     <%= render @users %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nuevo Usuarios', new_user_path, :remote => true %></td>
    </tr>
  </tfoot>
</table>

